:root{
    --my-size: 14px;
}
html{
    background-color: rgb(18,21,22);
    border-style: double;
    border-width: 1rem;
    border-color: #0035cc;
    font-size: var(--my-size);
    color: antiquewhite;
    margin: 0.5rem;
}

body{
    background-image: url(Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-family: "Press Start 2P";
    color: rgb(0,66,255)
}

h2{
    font-family: "Press Start 2P";
    color: rgb(0,66,255);
}

.picture_frame{
    border-style: ridge;
    border-width: 0.5rem;
    border-color: rgb(0,66,255);
}

p{
    font-family: "Share Tech";
}

.titles{
    font-family: "Press Start 2P";
}

.contents{
    font-family: "Share Tech";
}

table, td, th {
    border: 1px solid antiquewhite;
    font-family: "Share Tech";
    height: 4rem;
}

tr:nth-child(2n) {background-color: rgba(61,43,190, 0.7)}

.absolute_position{
    position: absolute;
    width: 20rem;
    top: 6rem;
    left: 17.5rem;
}

.header_row{
    background-color: rgb(61,43,190);
}

a {
    color: antiquewhite;
}
