html {
    font-size: 14px;
    border-style: double;
    border-color: brown;
    border-width: 0.5rem;
    background-color: antiquewhite;
    margin: 1rem;
    font-family: "Times New Roman";
}

h1 {
    text-decoration: underline;
}
h2 {
    text-decoration: underline;
}

#first_paragraph {
    color: brown;
}

#first_paragraph::first-letter {
    font-weight: bold;
    font-size: 4rem;
}

#first_paragraph:hover {
    color: red;
}

.bold_font {
    font-weight: bold;
}

table, td, th {
    border: 1px solid black;
}

.weekly_schedule {
    font-style: italic;
    color: blue;
    text-decoration: underline;
}

.italic_font {
    font-style: italic;
}

.header {
    background-color: antiquewhite;
    color: brown;
}

.paragraph{
    color: brown;
}

.box1{
    border-style: solid;
    border-color: blue;
    border-width: 0.5rem;
    background-color: white;
    margin: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 5rem;
}