html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1{
    text-decoration: underline;
    text-shadow: gray 0.125em 0.125em 0.125em;
}

legend{
    color: #A0522D;
}

.phoneNumber{
    width: 3.5rem;
}

input{
    border-radius: 0.25rem;
    border-color: black;
    border-style: solid;
    border-width: 0.1rem;
    height: 1.5rem;
}

fieldset{
    border-radius: 0.8rem;
    border-width: 0.3rem;
    border-style: groove;
}

#email{
    width: 25rem;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

#age{
    margin-right: 2rem;
}

#inch{
    margin-right: 2rem;
}

.studyID{
    width: 3rem;
}

hr{
    color: black;
}

.double{
    margin-bottom: -0.4rem;
}

.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}